
html{
  background: url(images/ice.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:	   cover;
  background-size: 		   cover;
  color: white;
}

#box{
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 100px;
  margin-left: 90px;
  width: 350px;
}